#evento {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#evento h2 {
    font-size: 3.5rem;
    margin: 0 0 25px 0;
    font-weight: 300;
}

div.card-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
    width: 1000px;
    margin: 0 auto;
}

div.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #c78665;
    padding: 30px 50px;
    text-align: left;
    background-color: #c7866505;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

div.card h3 {
    font-size: 1.5rem;
    margin: 0 0 25px 0;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hora, .lugar {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.hora svg, .lugar svg {
    flex-shrink: 0;
    margin-top: 4px;
}

.content p {
    margin: 0;
    line-height: 1.3;
}

.content span {
    font-size: 0.9rem;
    color: #666;
    display: block;
}

@media (max-width: 768px) {
    div.card-container {
        flex-direction: column;
        gap: 30px;
    }
}